nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 120px;
  width: 100%; 

  top: 0; 
  position: fixed;

  padding-right: 1.5em;
  padding-left: 1.5em;

  color: white;
  background-color: royalblue;
}

#write-new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#write-new-tweet p{
  margin: 0;
  padding: 0;
}


nav span {
  font-family: 'Bungee', cursive;
}

#double-down {
  content: "\f103";
  color: lightcoral;
}

/* for iphoneX of bigger */
@media (max-width: 375px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  #write-new-tweet {
    display: flex;

    align-items: center;
  }

  #write-new-tweet p {
    flex-wrap: nowrap;
    min-width: 180px;
  }
}