form {
  width: 100%;
  margin: 1em;
}

form div {
  display: flex;
  justify-content: space-between;
}

form div button {
  font-family: 'Bungee', cursive;
  text-size-adjust: 70%;

  background-color: royalblue;
  color: white;
}

form textarea {
  height: 40px;
  width: inherit;

  background-color: inherit;
  
  padding: 0.5em;
  border-style: hidden;
  border-bottom: solid;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  margin-bottom: 0.75em;
}

.error-empty {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  font-size: 0.75em;
  
  margin: 1em;
  border: solid;
  border-color: red;

  background-color: inherit;
  color: red;
}

section i {
  margin: 1em;
}

.error-max {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;

  margin: 1em;
  border: solid;
  border-color: red;
  
  font-size: 0.75em;
  
  color: red;
  background-color: inherit;
}

.error-red {
  color: red;
}